.infobox {
  flex: 1;
}

.infobox:not(:last-child) {
  margin-right: 15px;
}

.infobox_cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infobox_total {
  color: #6c757d;
  margin-top: 15px !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
}
